<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Francisco Ari Josino Junior's Portfolio</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

    <!-- github acitivity css -->
    <!-- <link rel="stylesheet" href="assets/plugins/github-activity/src/github-activity.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css"> -->

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="assets/js/index.js"></script>

</head>

<body ng-app="portfolio" ng-controller="mainController">
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="{{fullName}}" />
            <div class="profile-content pull-left">
                <h1 class="name">{{fullName}}</h1>
                <h2 class="desc">{{devTitle}}</h2>
                <ul class="social list-inline">
                    <!-- <li><a ng-href="{{twitterProfile}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a ng-href="{{gplusProfile}}"><i class="fa fa-google-plus"></i></a></li> -->
                    <li><a ng-href="{{linkedinProfile}}"><i class="fa fa-linkedin"></i></a></li>
                    <li><a ng-href="{{githubProfile}}"><i class="fa fa-github-alt"></i></a></li>
                    <li><a class="last-item" ng-href="mailto:{{email}}"><i class="fa fa-envelope"></i></a></li>
                    <!-- <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li> -->
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:{{email}}" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                          <div ng-repeat="paragraph in aboutMe">
                            <p>{{paragraph}}</p>
                          </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">My Projects</h2>
                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="{{projects[0].link}}" target="_blank">{{projects[0].name}}</a></h3>
                                <p class="summary">{{projects[0].summary}}</p>
                                <div class="featured-image">
                                    <a href="{{projects[0].link}}" target="_blank">
                                    <img class="img-responsive project-image" src="{{projects[0].image}}" alt="project name" />
                                    </a>
                                    <!-- <div class="ribbon">
                                        <div class="text">New</div>
                                    </div> -->
                                </div>
                                <div class="desc text-left" ng-repeat="paragraph in projects[0].description">
                                    <p>{{paragraph}}</p>
                                </div><!--//desc-->
                                <!-- <a class="btn btn-cta-secondary" href="{{projects[0].link}}" target="_blank"><i class="fa fa-android"></i> Get it on Google Play</a> -->
                            </div><!--//item-->
                            <hr class="divider" />
                            <div ng-repeat="secondaryProject in projects">
                              <div class="item row" ng-show="$index > 0"><!--excluding the first index -->
                                  <a class="col-md-4 col-sm-4 col-xs-12" href="{{secondaryProject.link}}" target="_blank">
                                  <img class="img-responsive project-image" src="{{secondaryProject.image}}" alt="{{secondaryProject.name}}" />
                                  </a>
                                  <div class="desc col-md-8 col-sm-8 col-xs-12">
                                      <h3 class="title"><a href="{{secondaryProject.link}}" target="_blank">{{secondaryProject.name}}</a></h3>
                                      <div ng-repeat="paragraph in secondaryProject.description">
                                          <p>{{paragraph}}</p>
                                      </div><!--//desc-->
                                      <p><a class="more-link" href="{{secondaryProject.link}}" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                  </div><!--//itemContent-->
                              </div><!--//item-->
                            </div>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content" ng-repeat="job in jobs">
                            <div class="item">
                                <h3 class="title">{{job.title}} - <span class="place"><a href="{{job.link}}">{{job.company}}</a></span> <span class="year">({{job.year}})</span></h3>
                                <div ng-repeat="paragraph in job.description">
                                  <p>{{paragraph}}</p>
                                </div>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
                <section class="github section" ng-if="false"><!-- not showing right now cause i got nothing to show :~ -->
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <!-- <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget.

                        <div id="github-graph" class="github-graph">

                        </div> -->

                        <!-- <p>You can also embed your GitHub activities using Casey Scarborough's <a href="http://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget. -->
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->

                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>London ON, Canada</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{email}}">{{email}}</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">

                            <div class="skillset" ng-repeat="skill in skills">

                                <div class="item">
                                    <h3 class="level-title">{{skill.title}}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="{{skill.observation}}">{{skill.levelLabel}} <i class="fa fa-info-circle" ng-if="skill.observation"></i></span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="{{skill.levelPercentage}}">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                            </div>
                            <p ng-if="codingNetwork"><a class="more-link" href="{{codingNetwork.link}}" target="_blank"><i class="fa fa-external-link"></i> More on {{codingNetwork.title}}</a></p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content" ng-repeat="grad in education">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> {{grad.title}}</h3>
                                <h4 class="university">{{grad.school}} <span class="year">({{grad.year}})</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="languages aside section" ng-if="languages.length > 0">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled" ng-repeat="lang in languages">
                                <li class="item">
                                    <span class="title"><strong>{{lang.title}}:</strong></span>
                                    <span class="level">{{lang.levelLabel}} <br class="visible-xs"/><span ng-repeat="star in levelRange(lang.level)"> <i class="fa fa-star"></i></span><i class="fa fa-star-half" ng-if="lang.level%1 > 0"></i> </span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="list music aside section" ng-if="songs.length > 0">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled" ng-repeat="song in songs">
                                <li><i class="fa fa-headphones"></i> <a href="{{song.link}}" target="_blank">{{song.artist}} - {{song.title}}</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="list conferences aside section" ng-if="conferences.length > 0">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled" ng-repeat="conference in conferences">
                                <li><i class="fa fa-calendar"></i> <a href="{{conference.link}}" target="_blank">{{conference.title}}</a> ({{conference.location}})</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- github activity plugin -->
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script> -->
    <!-- <script type="text/javascript" src="assets/plugins/github-activity/src/github-activity.js"></script> -->
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
